body{
    background-color: #cfcaca;
}
div{
    width: 400px;
    height: 400px;
    margin: 15px;
    background-color: #646262;
    display: inline-block;
}
div h1{
    margin: 100px 120px;
    font-size: 200px;
    color: black;
}