.box1{
    background-color: rgb(43, 43, 110);
    margin-top: -20px;
    margin-left: -8px;
    margin-right: -8px;
    height: 50px;
}
.home{
    padding-top: 15px;
    padding-left: 80px;
    color: white;
}
.telegram{
    position: absolute;
    top: 10px;
    left: 800px;
    font-size: 30px !important;
    color: rgb(52, 52, 235);
}
.instagram{
    position: absolute;
    top: 10px;
    left: 850px;
    font-size: 30px !important;
    color: rgb(255, 0, 43);
}
.whatsapp{
    position: absolute;
    top: 10px;
    left: 900px;
    font-size: 30px !important;
    color: rgb(31, 204, 59);
}
.til{
    position: absolute;
    top: -4px;
    left: 1000px;
    color: rgb(158, 152, 152);
    font-size: 20px;
}
.til a{
    color: rgb(158, 152, 152);
    text-decoration: none;
}
.izlashoynasi{
    position: absolute;
    top: 15px;
    left: 1140px;
    font-size: 16px;
}
.search{
    position: absolute;
    top: 18px;
    left: 1320px;
    color: #000;
}
.chaptomon{
    position: relative;
    width: 16%;
    height: 765px;
    margin-left: -8px;
    padding-left: 15px;
    background-color: #222d32;
}
.nn{
    position: fixed;
}
.tugma{
    text-decoration: none;
    display: inline;
    font-size: 14px;
}
.ongtomon{
    width: 83.3%;
    height: 765px;
    background-color: rgb(119, 119, 119);
    position: absolute;
    right: 0;
    top: 49px;
}
h1{
    color: #000;
}
.chaptomon h1:hover{
    color: #fff;
    transition: 1s;
}
.box2{
    display: flex;
}
.ongtomon div{
    display: inline-block;
    background-color: rgb(196, 194, 194);
    width: 300px;
    margin: 15px 20px;
    height: 310px;
}
.ongtomon .buyurtma{
    width: 290px;
    height: 250px;
    margin-left: 5px;
    margin-top: 10px;
}
.h3{
    position: absolute;
    background-color: #222d32;
    border: #222d32 solid 2px;
    display: inline;
    margin-top: 267px;
    margin-left: -220px;
    padding: 5px;
    border-radius: 25px;
}
.h3:hover{
    background-color: #fff;
    transition: 1s;
}